<!DOCTYPE html>
<html>
<head>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
  charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
<script src="../static/js/jquery.mapael.js" charset="utf-8"></script>
<script src="../static/js/usa_states.js" charset="utf-8"></script>

<script src="https://d3js.org/d3.v5.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/test.css">

<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" /> -->
<!-- <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script> -->


<title>Herd Immunity</title>
</head>

<body style="background-color: skyblue">

  <nav>
    <div class="navbar-header" >
      <a class="navbar-brand" href="http://childhood-immunizations.herokuapp.com/" style="padding-left:25px; ">
        VACCINES ARE YOUR BEST SHOT
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="maps">SHOTS SHOTS SHOTS! (Maps)</a>
        </li>
        <li class="menu">
          <a target="#_blank" href="https://github.com/luluxu9466/childhood-immunizations" style="padding-right:25px">
            <img width="25px" src="../static/images/github.svg">
          </a>
        </li>
      </ul>
    </div>
  </nav>

<div class="jumbotron text-center" style="background-image: url(../static/images/herd.png);">
  <div class="inner">
  <h1>VACCINES ARE YOUR BEST SHOT</h1>
  <h2 style="text-align: center; color: snow;">Herd immunizations for a healthier society</h2>
</div>
</div>


<!-- This section presents the photos and information about Measles, Mumps and Pertusis on the top of the page. 
  Hover over the picture to see text. -->

<!-- <div class="jumbotron" style="margin: 0; width: 100%;" id="information"> -->
<div class="row">
 

  <!-- Mumps picture with overlay text -->
  <div class="col-lg-4">
    <h2 style="color: snow;">
      Mumps
    </h2>
  <div class="img-container">
    <img src="../static/images/mumps.jpg" alt="Mumps" class = "image" style="width: 33vw; height: 35vw;"> 
    <div class="overlay"  style="width: 33vw;padding: 5px;">
      <div class="img-text" style="width: 33vw;">
        <p>
          <strong>What it is: </strong>
          Mumps is a highly contagious airborne virus and can be spread by an infected person coughing or sneezing and releasing tiny droplets of contaminated saliva that is inhaled by another person. 
          Symptoms include fever, headache, muscle aches, tiredness and loss of appetite along with swollen salivary glands under the ears, swelling of the brain and spinal cord and can last two or more weeks and may come with long-lasting problems such as permanent hearing loss. 
        </p>
        <p>
          <strong>History: </strong>
          First documented in the 5th century BC, it was formally documented in 1934 by Johnson and Goodpasture. 
          In 1967, the FDA licensed the Mumpsvax, a vaccine developed by Maurice Hilleman created from the mumps virus infecting his five-year old daughter. 
          The vaccine is still used to prevent the spread of mumps today. 
        </p>
        
      </div>
    </div>
  </div>
  </div>

   <!-- Measles picture with overlay text -->
   <div class="col-lg-4">
    <h2 style="color: snow;">
      Measles
    </h2>
  <div class="img-container">
    <img src="../static/images/measles.jpg" alt="Measles" class = "image" style="width: 33vw; height: 35vw">
    <div class="overlay" style="width: 33vw;padding: 5px;">
      <div class="img-text" style="width: 33vw;">
        <p>
          <strong>What it is: </strong>
          Measles is a very contagious disease caused by a virus that is spread through the air when an infected person coughs or sneezes. 
          It can remain in the air for 2 hours. 
          Measles is so contagious that if one person has it, up to 90% of the people around them will also become infected if not protected. 
          Measles starts with a fever followed by coughing, runny nose, red eyes and a rash of tiny, red spots all over the body. 
        </p>
        <p>
          <strong>History: </strong>
          Officially discovered by Dr. Francis Home in 1757 and nationally notifiable disease in the US in 1912. 
          Before the vaccination became available, nearly all children got measles by the time they were 15. 
          Since the vaccination was discovered, it’s use has led to a 99% reduction in measles cases compared to the pre-vaccine era.
        </p>
 
      </div>
    </div>
  </div>
  </div>

  <!-- Pertusis picture with overlay text -->
  <div class="col-lg-4">
    <h2 style="color: snow;">
      Pertussis
    </h2>
    <div class="img-container">
      <img src="../static/images/pertussis.jpg" alt="Perssusis" class = "image" style="text-align: left; width: 33vw; height: 35vw;"> 
      <div class="overlay"  style="width: 33vw; padding: 5px">
        <div class="img-text" style="width: 33vw">

          <p>
            <strong>What it is: </strong>
            More commonly known as the "whooping cough", pertussis is a highly contagious respiratory disease caused by the bacterium Bordetella pertussis causing uncontrollable violent coughing, vomiting, and apnea making it hard to breathe. 
            Recovery is possible but slow and can return with other respiratory infections for many months after the pertussis infection started. 
          </p>
          <p>
            <strong>History: </strong>
            Outbreaks of pertussis were noted and first described and recorded in the 16th century. 
            In the 20th century, pertussis was one of the most common childhood diseases causing childhood mortality in the US with over 200,000 cases reported and estimated 195,000 deaths worldwide in 2008.
            Vaccination used in the US was introduced in 1948 as DTaP for pediatric use and Tdap for adolescents and adults.   

          </p>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron" style="background-color: skyblue" >
  <h2 style="color: snow;">Vaccine Timelines</h2>
<div class="row">

  <div class="col-lg-4">
    <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1vAMUcu0FYGjzNaPbiedk-DcgFrWosSWDrb1cfocL03s&font=Default&lang=en&initial_zoom=2&height=850' width='100%' height='750' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
    </div>

  <div class="col-lg-4">
  <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1o93EpABuvx1V2QoUKt09WFw8hL9Ost4LjdvvL64uq7I&font=Default&lang=en&initial_zoom=2&height=850' width='100%' height=750' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
  </div>


  <div class="col-lg-4">
  <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1eNhoJ_e4gLj1DG0TOqHE2MJ_PHlzDYB0uUzSMzZC13U&font=Default&lang=en&initial_zoom=2&height=850' width='100%' height='750' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
  </div>
</div>
</div>
</body>
</html>