<!DOCTYPE html>
<html>

<head>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
    charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
  <script src="../static/js/jquery.mapael.js" charset="utf-8"></script>
  <script src="../static/js/usa_states.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  <title>Herd Immunity</title>
</head>

<!-- Navigation bar, fixed on top of the page -->
<nav class="navbar navbar-expand-sm fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="http://childhood-immunizations.herokuapp.com/" style="padding-left:25px; color:snow">
      <i class="fa fa-home" style="font-size:25px"></i>
    </a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">

      <li class="menu">
        <a class="dropdown-item" href="#info">Diseases</a>
      </li>
      <li class="menu">
        <a class="dropdown-item" href="#timeline" >Timeline</a>
      </li>
      <li class="menu">
        <a class="dropdown-item" href="#US">Efficacy & Exemptions</a>
      </li>
      <li class="menu">
        <a class="dropdown-item" href="#world" >Perceptions</a>
      </li>
      <li class="menu">
        <a class="dropdown-item" href="#nlp" >Online Discussion</a>
      </li>
      <li class="menu">
        <a class="dropdown-item" href="#spread">Herd Immunity</a>
      </li>

      <li class="menu">
        <a target="#_blank" href="https://github.com/luluxu9466/childhood-immunizations" style="padding-right:25px">
          <img width="25px" src="../static/images/github.svg">
        </a>
      </li>
    </ul>
  </div>
</nav>


<!-- Title of the Website -->
<div class="jumbotron text-center" style="margin:25px; background-color: transparent;">
  <h1>VACCINES ARE YOUR BEST SHOT</h1>
  <h2>Herd immunity for a healthier society</h2>
</div>


<!-- Photos and information about Measles, Mumps and Pertusis. Hover over each picture to see text. -->

<div class="jumbotron" style="margin: auto; background-color: transparent;" id="information">
  <div class="row" id="info" style="margin: auto;">

    <!-- Measles picture with overlay text -->
    <div class="col-lg-4">
      <h2 style="color: snow;">
        <center>MEASLES</center>
      </h2>
      <div class="img-container">
        <img src="../static/images/measles.jpg" alt="Measles" class="image" style="width: 30vw; height: 20vw">
        <div class="overlay" style="width: 30vw; padding: 10px;">
          <div class="img-text" style="width: 30vw;">
            <p>
              <ul>
                <li>High Fever</li>
                <li>Coughing, Runny Nose</li>
                <li>Red eyes</li>
                <li>All over body rash</li>
              </ul>
            </p>

          </div>
        </div>
      </div>
    </div>

    <!-- Pertusis picture with overlay text -->
    <div class="col-lg-4">
      <h2 style="color: snow;">
        <center>PERTUSSIS</center>
      </h2>
      <div class="img-container">
        <img src="../static/images/pertussis.jpg" alt="Perssusis" class="image" style="width: 30vw; height: 20vw;">
        <div class="overlay" style="width: 30vw; padding: 10px">
          <div class="img-text" style="width: 30vw">
            <p>
              <ul>
                <li>Coughing Spells lasting several weeks</li>
                <li>Tiredness</li>
                <li>Like fever symptoms</li>
              </ul>
            </p>

          </div>
        </div>
      </div>
    </div>
    <!-- Mumps picture with overlay text -->
    <div class="col-lg-4">
      <h2 style="color: snow;">
        <center>MUMPS</center>
      </h2>
      <div class="img-container">
        <img src="../static/images/mumps.jpg" alt="Mumps" class="image" style="width: 30vw; height: 20vw;">
        <div class="overlay" style="width: 30vw; padding: 10px;">
          <div class="img-text" style="width: 30vw;">

            <p>
              <ul>
                <li>Pain in swollen salivary gland</li>
                <li>Fever</li>
                <li>Headaches</li>
                <li>Muscle aches</li>
                <li>Loss of appetite</li>
                <li>Weakness and fatigue</li>
              </ul>
            </p>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Disease Outbreak Timeline and Vaccine Introduction-->
<br>
<div id="timeline"></div>
<h2>"From epidemics to vaccination"</h2>

<div class="container-fluid" style="width: 92vw; background-color: transparent;">
  <link rel="stylesheet" type="text/css" href="../static/css/jquery.eeyellow.Timeline.css">

  <div class="row">
    <div class="col-md-12">
      <div class="VivaTimeline">
        <dl>
          <dd class="pos-left clearfix">
            <div class="circ"></div>
            <div class="time">1848</div>
            <div class="events">
              <div class="events-header">Measles pre-vaccine</div>
              <div class="events-body">
                <div class="row">
                  <div class="col-md-6 pull-left">
                    <img class="events-object img-responsive img-rounded"
                      src="https://pbs.twimg.com/media/DxwVIv4XQAAhshZ.jpg" style="width:300px;height:200px;" />
                  </div>
                  <div class="events-desc">
                    <p><br>Measles killed 10% of Hawaii (1848) and about 25% Fiji (1875) population
                      within a
                      decade.<br>In 1912 became notifiable disease in the U.S., requiring
                      healthcare providers to report all diagnosed cases.In the first
                      decade of reporting, an average of 6,000 measles-related deaths were
                      reported each year.<br>It is estimated 3 to 4 million people in the
                      United States were infected each year, an estimated 400 to 500 people died.
                    </p>
                  </div>
                </div>

          <dd class="pos-right clearfix">
            <div class="circ"></div>
            <div class="time">1940</div>
            <div class="events">
              <div class="events-header">Pertussis pre-vaccine</div>
              <div class="events-body">
                <div class="row">
                  <div class="col-md-6 pull-left">
                    <img class="events-object img-responsive img-rounded"
                      src="https://scx1.b-cdn.net/csz/news/800/2019/whoopingcoug.jpg"
                      style="width:300px;height:200px;" />
                  </div>
                  <div class="events-desc">
                    <p><br>Before vaccines, an average of 178,171 cases was reported in the U.S.

                      93% of reported cases occurred in children under 10 years of age.<br><br>

                      After vaccinations were introduced in the 1940s, pertussis incidence fell
                      dramatically to approximately 1,000 by 1976.Incidence rates have increased
                      since 1980.
                  </div>
                </div>
          <dd class="pos-left clearfix">
            <div class="circ"></div>
            <div class="time">1948</div>
            <div class="events">
              <div class="events-header">Mumps pre-vaccine</div>
              <div class="events-body">
                <div class="row">
                  <div class="col-md-6 pull-left">
                    <img class="events-object img-responsive img-rounded"
                      src="https://img.medscape.com/thumbnail_library/dt_190313_bordetella_pertussis_bacteria_800x450.jpg"
                      style="width:300px;height:200px;" />
                  </div>
                  <div class="events-desc">
                    <p><br>Prior to the start of mumps vaccination in 1948, outbreaks during the
                      winter/spring would commonly affect young school children with secondary
                      spread to other family members not yet immune.<br> Until an
                      effective vaccine program was introduced, isolation of the infected
                      individual was the only public health control option.<br>
                      Every few years, the number of reported mumps cases spikes due to an
                      outbreak, usually isolated to a specific community or region of the country.
                    </p>
                  </div>
                </div>

          <dd class="pos-right clearfix">
            <div class="circ"></div>
            <div class="time">1967</div>
            <div class="events">
              <div class="events-header">Mumps post-vaccine</div>
              <div class="events-body">
                <div class="row">
                  <div class="col-md-6 pull-left">
                    <img class="events-object img-responsive img-rounded"
                      src="https://img.washingtonpost.com/rf/image_480w/2010-2019/WashingtonPost/2015/01/26/Interactivity/Images/crop_358bigstock-vaccination-6365007.jpg?uuid=7qiiOKWEEeShYhIdBsp38Q"
                      style="width:300px;height:200px;" />
                  </div>
                  <div class="events-desc">
                    <P><br>United States implemented its mumps vaccination program in 1967.<br>
                      In 2006, a multi-state mumps outbreak, more than 6,500 reported cases:
                      affected college-aged students in the Midwest.<br><br>

                      From 2009 to 2010, two large outbreaks: <br>
                      * Over 3,000 people, mostly students of a close-knit religious community in
                      NYC. <br>
                      * About 500 people, mostly school-aged children, in the U.S. Territory of
                      Guam.<br>

                    </p>

                  </div>
                </div>

          <dd class="pos-left clearfix">
            <div class="circ"></div>
            <div class="time">1968</div>
            <div class="events">
              <div class="events-header">Measles post-vaccine</div>
              <div class="events-body">
                <div class="row">
                  <div class="col-md-6 pull-left">
                    <img class="events-object img-responsive img-rounded"
                      src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fcf-images.us-east-1.prod.boltdns.net%2Fv1%2Fstatic%2F5615998024001%2F23d556e2-87ce-40a1-a922-a806b6e22af3%2F2619b388-31fa-4651-9024-8e08306e6bf6%2F1280x720%2Fmatch%2Fimage.jpg"
                      style="width:300px;height:200px;" />
                  </div>
                  <div class="events-desc">

                    <p><br>In 1968, an improved and even weaker measles vaccine, developed by
                      Maurice Hilleman and colleagues, began to be distributed.<br>
                      <br>A 1989 measles outbreaks among vaccinated school-aged children
                      prompted the Advisory Committee on Immunization Practices to recommend a
                      second dose of MMR vaccine for all children.<br><br>
                    </p>
                  </div>
                </div>

          <dd class="pos-right clearfix">
            <div class="circ"></div>
            <div class="time">2000</div>
            <div class="events">
              <div class="events-header">Measles post-vaccine</div>
              <div class="events-body">
                <div class="row">
                  <div class="col-md-6 pull-left">
                    <img class="events-object img-responsive img-rounded"
                      src="https://slack-imgs.com/?c=1&o1=ro&url=http%3A%2F%2Fsi.wsj.net%2Fpublic%2Fresources%2Fimages%2FOG-AD828_VACCIN_G_20150211161752.jpg"
                      style="width:300px;height:200px;" />
                  </div>
                  <div class="events-desc">
                    <p><br> Prognosis: Most people survive measles, though in some cases,
                      complications may occur. About 1 in 4 individuals will be hospitalized
                      and 1 in 2 in 1000 will die. <br><br>Complications are more likely in children
                      under age 5 and adults over age 20.
                      Measles was declared eliminated (absence of continuous disease
                      transmission for greater than 12 months) from the United States in
                      2000.

                      Measles vaccination has prevented an estimated 20.3 million deaths.
                  </div>
                </div>
              </div>
              <div class="events-footer">

              </div>
            </div>
          </dd>
          <dd class="pos-left clearfix">
            <div class="circ"></div>
            <div class="time">2012</div>
            <div class="events">
              <div class="events-header">Pertussis post-vaccine</div>
              <div class="events-body">
                <div class="row">
                  <div class="col-md-6 pull-left">
                    <img class="events-object img-responsive img-rounded"
                      src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmiro.medium.com%2Fmax%2F1200%2F1*rO16Pz6DxyDNCRjLbF0bOA.jpeg"
                      style="width:300px;height:200px;" />
                  </div>
                  <div class="events-desc">
                    <p><br>In 2012, nearly 50,000 cases of pertussis were reported in the United
                      States, the most cases since 1955.<br><br><br>Twenty pertussis deaths were
                      reported in
                      2012.
                      Fifteen of those deaths occurred in infants too young to have received the
                      vaccine.


                  </div>
                </div>
          <dd class="pos-right clearfix">
            <div class="circ"></div>
            <div class="time">2015</div>
            <div class="events">
              <div class="events-header">Pertussis post vaccine</div>
              <div class="events-body">
                <div class="row">
                  <div class="col-md-6 pull-left">
                    <img class="events-object img-responsive img-rounded"
                      src="https://kpbs.media.clients.ellingtoncms.com/img/photos/2010/12/14/timeline-pertussis_tx700.jpg?8e0a8887e886a6ff6e13ee030987b3616fc57cd3"
                      style="width:300px;height:200px;" />
                  </div>
                  <div class="events-desc">
                    <p><br>More than 16 million people were infected worldwide in 2015, pertussis
                      resulted in 58,700 deaths down from 138,000 deaths in 1990.<br><br>The average
                      annual infant mortality rate attributed to pertussis was 3.8
                      per 1,000,000 live births, and 13.1 per 1,000,000 live births for infants
                      aged <2 months.</p>

                  </div>
                </div>

              </div>
            </div>
          </dd>

          <dd class="pos-left clearfix">
            <div class="circ"></div>
            <div class="time">2016</div>
            <div class="events">
              <div class="events-header">Mumps post-vaccine</div>
              <div class="events-body">
                <div class="row">
                  <div class="col-md-6 pull-left">
                    <img class="events-object img-responsive img-rounded"
                      src="https://www.cdc.gov/mumps/images/outbreaks-graph.png" style="width:300px;height:200px;" />
                  </div>
                  <div class="events-desc">
                    <p><br>U.S. mumps outbreaks started to increase in late 2015.January 2016 to
                      June 2017, health departments reported 150 outbreaks (9,200 cases), schools,
                      universities, athletics teams and facilities, church groups, workplaces, and
                      large parties events.<br>
                      * Largest outbreak ocurred in a community in northwest Arkansas nearly 3,000
                      cases.<br>
                      * Two outbreaks from Iowa and Illinois each involved several hundred
                      university students. </p>
                  </div>
                </div>
              </div>

            </div>
          </dd>

        </dl>
      </div>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-1.12.3.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/js/jquery.eeyellow.Timeline.js"></script>
  <script type="text/javascript" src="../static/js/timeline.js"></script>
</div>


<!-- Cases of Diseases and Exemptions in the US by state  -->
<br>
<div id="US">
  <h2>"Vaccine Efficacy and Exemptions"</h2>
</div>
<div class="container-fluid" style="background-color:#FFFFFF;">
  <div class='tableauPlaceholder' id='viz1584155317048' style='position: relative'><noscript><a href='#'><img alt=' '
          src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ma&#47;maps_20200311_15840187227610&#47;Story1&#47;1_rss.png'
          style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
      <param name='embed_code_version' value='3' />
      <param name='site_root' value='' />
      <param name='name' value='maps_20200311_15840187227610&#47;Story1' />
      <param name='tabs' value='yes' />
      <param name='toolbar' value='yes' />
      <param name='static_image'
        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ma&#47;maps_20200311_15840187227610&#47;Story1&#47;1.png' />
      <param name='animate_transition' value='yes' />
      <param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
      <param name='filter' value='publish=yes' /></object></div>
  <script
    type='text/javascript'>                    var divElement = document.getElementById('viz1584155317048'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1280px'; vizElement.style.height = '977px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
</div>


<!-- World opinions on vaccination -->
<br>
<div id="world">
  <h2>
    <center>"Vaccines: International Perception"</center>
</div>
</h2>
<div class="container-fluid" style="background-color: #FFFFFF;">
  <div class='tableauPlaceholder' id='viz1584159779226' style='position: relative'><noscript><a href='#'><img alt=' '
          src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ne&#47;Neither-agrees-nor-disagrees-vaccines-effective-1_15841595370930&#47;Agrees-vaccines-are-important-wellcome&#47;1_rss.png'
          style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
      <param name='embed_code_version' value='3' />
      <param name='site_root' value='' />
      <param name='name'
        value='Neither-agrees-nor-disagrees-vaccines-effective-1_15841595370930&#47;Agrees-vaccines-are-important-wellcome' />
      <param name='tabs' value='yes' />
      <param name='toolbar' value='yes' />
      <param name='static_image'
        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ne&#47;Neither-agrees-nor-disagrees-vaccines-effective-1_15841595370930&#47;Agrees-vaccines-are-important-wellcome&#47;1.png' />
      <param name='animate_transition' value='yes' />
      <param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' /></object></div>
  <script
    type='text/javascript'>                    var divElement = document.getElementById('viz1584159779226'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.minWidth = '1280px'; vizElement.style.maxWidth = '100%'; vizElement.style.height = '1027px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '1280px'; vizElement.style.height = '1027px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '750px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
</div>



<!-- Natural Language Processing on what people (especially anti-vaxxers) are talking about online -->
<link rel="stylesheet" type="text/css" href="../static/css/nlp.css">
<br>
<div id="nlp">
  <h2>
    "Online Blog/Twitter Topics"
  </h2>
</div>
<div class="container-fluid" style="background-color: rgb(239, 237, 237); ">
  <p style="color:#2DAAE1;">
    <img src="../static/images/twitter.png" alt="Twitter" class="image"
      style="width: 5vw; height: 5vw; padding-right: 10px;" align="left">
    Data extracted from a search for the hashtag "#DoctorsSpeakUp," which was not originally intended to be used for
    anti-vaccine sentiment but was co-opted by the movement.
    Noteworthy topics were primarily politics and vaccine-related injuries.</p>
  <br>
  <div id="ldavis_el1236026911281337045200666588"></div>
  <script type="text/javascript" src="../static/js/nlp-twitter.js"></script>
  <p style="color: #01B2B8;"> <img src="../static/images/thinklovehealthy.png" alt="thinklovehealthy.com" class="image"
      style="width: 5vw; height: 5vw; padding-right: 10px;" align="left"> Data sourced from a personal blog post and the
    comment section of that post. There is strong emphasis on the emotional tone of the discussion with mothers
    expressing fear and worry for their children. </p>

  <div id="ldavis_el1002425022752411607145488513"></div>
  <script type="text/javascript" src="../static/js/nlp-blog.js"></script>


</div>


<!-- How contangious are these diseases, discussion about preventative care -->
<br>
<div id="spread">
  <h2>"How Diseases Spread"</h2>
</div>

<div class="container-fluid" style="border-radius: 5px; ">
  <div class="row" style="border-radius: 5px;background-color: rgb(239, 237, 237); ">
    <div class="col-md-6" style="border-radius: 5px;background-color: rgb(239, 237, 237); ">
      <img class="image"
        src="https://www.popsci.com/resizer/WX115r-e2iN7NftVpsuDO-eWszE=/2068x2586/arc-anglerfish-arc2-prod-bonnier.s3.amazonaws.com/public/NRL256NEPBEHTFM6XJ7YTPEGUM.png"
        style="width: 40vw; height: 40vw; padding: 10px; border-radius: 10px;">
    </div>
    <div class="col-md-6" style="border-radius: 5px;background-color: rgb(239, 237, 237); ">
      <img src="../static/images/herd-immunity.gif" style="width: 40vw; height: 40vw; padding: 10px;">
    </div>
  </div>
</div>
<br>


<!-- Footer: team members -->
<div class="footer">
  The Team: Brittany Balcom, Marvin Chinchilla, Jean Gwon, David Melendez, Elvis Selimaj, Fangyi Xu
</div>
</body>

</html>