<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Philosophical</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
  <script src="../static/js/jquery.mapael.js" charset="utf-8"></script>
  <script src="../static/js/usa_states.js" charset="utf-8"></script>

  <script src="https://d3js.org/d3.v5.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">

</head>

<body style="background-color: skyblue;">
  <nav>
    <div class="navbar-header" >
      <a class="navbar-brand" href="http://childhood-immunizations.herokuapp.com/" style="padding-left:25px; ">
        VACCINES ARE YOUR BEST SHOT
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="maps">SHOTS SHOTS SHOTS! (Maps)</a>
        </li>
        <li class="menu">
          <a target="#_blank" href="https://github.com/luluxu9466/childhood-immunizations" style="padding-right:20px">
            <img width="25px" src="../static/images/github.svg">
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container" >
    <h2 style="color: snow;">SHOTS SHOTS SHOTS!</h2>
    <p>Select a map: 
  <select id="mySelect" onchange="location = this.options[this.selectedIndex].value">
    <option value="PhilosophicalExemptions" >Philosophical Exemptions</option>
    <option value="Mumps" >Mumps</option>
    <option value="Measles" >Measles</option>
    <option value="Pertussis" >Pertussis</option>
    <option value="ReligiousExemptions" >Religious Exemptions</option>
  </select></p>
</div>


<!--Philosophical Exemptions-->
<div class="container">

  <div class="phcontainer">
    <div class="map">
      <span>Alternative content for the map</span>
    </div>
    <div class="areaLegend">
      <span>Alternative content for the legend</span>
    </div>
  </div>

</div>
<script src="../static/js/philosophicalData.js"></script>

</body>
